# Functions

In [1]:
def add2(y) :
    x = y + 2
    return x

In [5]:
i = 3
a = add2(1)

In [6]:
print a

3

* Lambda

In [7]:
square  = lambda x : x*x

In [ ]:
square (7)

In [ ]:
#import graphlab as sf

In [3]:
a = 10

In [4]:
a

10

In [5]:
print a

10

In [1]:
import graphlab

In [2]:
sf = graphlab.SFrame("/Users/chaitanyakumar/Downloads/facedetection/Coursera/Washington/Week_1_2/people-example.csv")

This non-commercial license of GraphLab Create for academic use is assigned to chaitanya.ck100@gmail.com and will expire on March 07, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1489759373.log

Finished parsing file /Users/chaitanyakumar/Downloads/facedetection/Coursera/Washington/Week_1_2/people-example.csv

Parsing completed. Parsed 7 lines in 0.031151 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/chaitanyakumar/Downloads/facedetection/Coursera/Washington/Week_1_2/people-example.csv

Parsing completed. Parsed 7 lines in 0.015358 secs.

In [3]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [4]:
sf.head

<bound method SFrame.head of Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]
>

In [5]:
sf.tail

<bound method SFrame.tail of Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]
>

In [6]:
sf.head()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [7]:
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:58578/index.html
Opening Canvas in default web browser.

In [8]:
graphlab.canvas.set_target("ipynb")

In [9]:
sf["age"].show(view = "Categorical")

In [10]:
sf["age"].max()

25

In [11]:
sf["Full Name"] = sf["First Name"] + " " + sf["Last Name"]

In [12]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

# Advaced Transformation

In [20]:
def transform_country(country):
    if country == "United States":
        return "USA"
    else:
        return country

In [21]:
transform_country("India")

'India'

In [23]:
transform_country("USA")

'USA'

In [24]:
transform_country("United States")

'USA'

In [26]:
sf["Country"].apply(transform_country)

dtype: str
Rows: 7
['USA', 'Canada', 'England', 'USA', 'Poland', 'USA', 'Switzerland']

In [27]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [28]:
sf["Country"] = sf["Country"].apply(transform_country)

In [29]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+-------------+-----+----------------+
| First Name | Last Name |   Country   | age |   Full Name    |
+------------+-----------+-------------+-----+----------------+
|    Bob     |   Smith   |     USA     |  24 |   Bob Smith    |
|   Alice    |  Williams |    Canada   |  23 | Alice Williams |
|  Malcolm   |    Jone   |   England   |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |     USA     |  23 |  Felix Brown   |
|    Alex    |   Cooper  |    Poland   |  23 |  Alex Cooper   |
|    Tod     |  Campbell |     USA     |  22 |  Tod Campbell  |
|   Derek    |    Ward   | Switzerland |  25 |   Derek Ward   |
+------------+-----------+-------------+-----+----------------+
[7 rows x 5 columns]

## Lambda

In [1]:
a = list(range(5))
a

[0, 1, 2, 3, 4]

In [2]:
b = map(lambda x: x**2,a)
b

In [3]:
c = list(map(lambda x: x**2,a))
c

[0, 1, 4, 9, 16]

In [4]:
d = list(map(lambda x: x**2,b))
d

[0, 1, 16, 81, 256]

In [6]:
print(3/2)  # prints the float value of div
print(9//2) # prints the int value of div

1.5
4

## Filter

In [7]:
filter?

In [9]:
e = list(filter(lambda x: x**2,a))
e

[1, 2, 3, 4]

In [11]:
# filters only even number

f = list(filter(lambda x: x%2 == 0,a))
f

[0, 2, 4]

## Tuple

In [12]:
my_tup = ('Chaitanya',183,75)
my_tup

('Chaitanya', 183, 75)

In [13]:
for data in my_tup:
    print(data)

Chaitanya
183
75

In [14]:
print(type(my_tup))

<class 'tuple'>

## Time

In [15]:
import time

In [16]:
# prints time in seconds
tic = time.time()

In [17]:
print(tic)

1567107906.138502

In [18]:
# time to square the list of 1 lakh numbers
list_of_num = list(range(100000))
tic = time.time()
list_of_sqr = list(map(lambda x: x**2, list_of_num))
toc = time.time()
print("time taken for the operation in seconds : " , toc - tic)

time taken for the operation in seconds :  0.039240360260009766

In [19]:
# time to square the tuple of 1 lakh numbers
tup_of_num = tuple(range(100000))
tic = time.time()
tup_of_sqr = list(map(lambda x: x**2, tup_of_num))
toc = time.time()
print("time taken for the operation in seconds : " , toc - tic)

time taken for the operation in seconds :  0.0330350399017334